<!DOCTYPE html>
<html lang="en">

  <head>
    <!--Meta Data-->
    <%- include('partial/title.ejs'); %>  

    <% if (data.NODE_ENV == 'production') { %>
      <!-- Production Stylesheets -->
      <link rel="stylesheet" href="assets/production/css/home.min.css">

    <% }else { %>
      <!-- Development Stylesheets -->
      <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css">
      <link rel="stylesheet" href="assets/lib/css/responsive.css">
      <link rel="stylesheet" href="assets/lib/css/select2.min.css">
      <link rel="stylesheet" href="assets/lib/css/spacing.css">
      <link rel="stylesheet" href="assets/lib/css/style.css">
      <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/lib/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css">
      <link rel="stylesheet" href="assets/lib/css/magnific-popup.css">
      <link rel="stylesheet" href="assets/css/home.css">
      <link rel="stylesheet" href="assets/css/header.css">
      
    <% } %>
  </head>

  <body onLoad="typeWriter()">

    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>

    <!--About Start-->
    <div class="about-area pt_60 pb_90">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mt_30">
            <div class="about-content">
              <div class="headline-left">
                <h2>
                  <span>QUALITY MEDICAL SERVICES</span> MAKE OUR PATIENTS HAPPY
                </h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argumentum has. Latine
                propriae quo no, unum ridens expetenda id sit, at usu eius eligendi singulis. Sea ocurreret principes
                ne.<br>
              </p>
              <div class="progress-gallery main-prog">
                <div class="bar-container">
                  <p>Neurology</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-custom" role="progressbar"
                      aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                    </div>
                  </div>
                  <div class="percentage-show">95%</div>
                </div>
                <div class="bar-container">
                  <p>Dentistry</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-custom" role="progressbar"
                      aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    </div>
                  </div>
                  <div class="percentage-show">80%</div>
                </div>
                <div class="bar-container">
                  <p>Radiology</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-custom" role="progressbar"
                      aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%">
                    </div>
                  </div>
                  <div class="percentage-show">88%</div>
                </div>
                <div class="bar-container">
                  <p>Cardiology</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-custom" role="progressbar"
                      aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%">
                    </div>
                  </div>
                  <div class="percentage-show">82%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="m-auto">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-Fdo_HT3X80"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <!--About End-->

    <!--Choose-Area Start-->
    <div class="choose-area pb_90">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="headline">
              <h2>WHY CHOOSE US</h2>
              <h3>We have some special crieteria that will help you</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="choose-item flex" style="background-image: url(assets/images/cloak.JPEG)">
              <div class="choose-icon">
                <i class="fas fa-clock fa-3x" aria-hidden="true"></i>
              </div>
              <div class="choose-text">
                <h4>QUICK RESPONSE</h4>
                <p>
                  Iisque persius ne sit, simul zril vix eu. Qui ne iusto epicuri suscipiantur, sit ne probo adhuc.
                  Liber
                  verterem interpretaris nam et, ea pro solum expetendis. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="choose-item flex" style="background-image: url(assets/images/satisfication.JPEG)">
              <div class="choose-icon">
                <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
              </div>
              <div class="choose-text">
                <h4>100% SATISFACTION</h4>
                <p>
                  Duo luptatum delicata evertitur ad. Usu te quaerendum definitiones, ne mundi volutpat duo, in
                  dissentias temporibus pri. Duo ferri dicant definitionem te. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="choose-item flex" style="background-image: url(assets/images/qualityservice.JPEG)">
              <div class="choose-icon">
                <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
              </div>
              <div class="choose-text">
                <h4>QUALITY SERVICE</h4>
                <p>
                  Amet dolor oratio ex has, stet repudiare definiebas vim ne. Id probo facilisis usu, pri aliquam
                  omnesque cu. Vide assentior id qui, quando possim eos. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Choose-Area End-->


    <!--Feature-Area Start-->
    <div class="feature-area feature-two bg-area pt_90 pb_90">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="headline">
              <h2>SPECIAL FEATURES</h2>
              <h3>We offer some awesome features that will help you</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="feature-item">
              <div class="feature-icon">
                <br>
                <i class="fas fa-hospital-alt fa-3x" aria-hidden="true"></i>
              </div>
              <div class="feature-text">
                <h4>Planned Space Design</h4>
                <p>
                  Liber utroque vim an, ne his brute vivendo, est fabulas consetetur appellantur an in dolore. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="feature-item">
              <div class="feature-icon">
                <br>
                <i class="fas fa-procedures fa-3x" aria-hidden="true"></i>
              </div>
              <div class="feature-text">
                <h4>Good Medical Facilities</h4>
                <p>
                  Vix tale noluisse voluptua ad, ne brute altera democritum cum. Omnes ornatus qui et, te aeterno.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="feature-item">
              <div class="feature-icon">
                <br>
                <i class="fas fa-ambulance fa-3x" aria-hidden="true"></i>
              </div>
              <div class="feature-text">
                <h4>Best Ambulance Service</h4>
                <p>
                  Mei ut errem legimus periculis, eos liber epicurei necessitatibus eu, facilisi postulant vel no.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="feature-item">
              <div class="feature-icon">
                <br>
                <i class="fas fa-laptop-medical fa-3x" aria-hidden="true"></i>
              </div>
              <div class="feature-text">
                <h4>Computerized Platform</h4>
                <p>
                  Ex vix alienum sadipscing, quod melius philosophia id has. Ad qui quem reprimique, quo possit. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="feature-item">
              <div class="feature-icon">
                <br>
                <i class="fas fa-stethoscope fa-3x" aria-hidden="true"></i>
              </div>
              <div class="feature-text">
                <h4>Reduced Supervision</h4>
                <p>
                  Vis constituto complectitur an, modo falli eirmod ea has. Ex vis indoctum scriptorem appellantur.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="feature-item">
              <div class="feature-icon">
                <br>
                <i class="fas fa-robot fa-3x" aria-hidden="true"></i>
              </div>
              <div class="feature-text">
                <h4>Modern Technology</h4>
                <p>
                  Ancillae interpretaris ea has. Id amet impedit qui, eripuit mnesarchum percipitur in eam. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Feature-Area End-->


    <!--Services Start-->
    <div class="services-area pt_90 pb_90">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="headline">
              <h2>OUR SERVICES</h2>
              <h3>We are always here to serve you some awesome services</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/newborn.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Newborn Care</a></h3>
                <p>
                  Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine
                  propriae quo no unum. 
                </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/mothercare.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Mother Care</a></h3>
                <p>
                  Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine
                  propriae quo no unum. 
                </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/criticaltreatement.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Critical Treatment</a></h3>
                <p>
                  Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine
                  propriae quo no unum. 
                </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/lab.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Modern Laboratory</a></h3>
                <p>
                  Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine
                  propriae quo no unum. 
                </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/test.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">All Major Tests</a></h3>
                <p>
                  Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine
                  propriae quo no unum. 
                </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div class="services-photo" style="background-image: url(assets/images/dental.JPEG)"></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Dental Care</a></h3>
                <p>
                  Lorem ipsum dolor sit amet, an labores explicari qui, eu nostrum copiosae argum entum has. Latine
                  propriae quo no unum. 
                </p>
                <div class="button-bn">
                  <a href="/view2">Read More <i class="fa fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Services End-->

    <!-- TESTIMONIALS Start-->
    <section class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="customers-testimonials" class="owl-carousel">
              <!--TESTIMONIAL 1 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="assets/images/pat1.JPEG" alt="uesr1">
                  <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely
                    synergize resource taxing relationships via premier niche markets. Professionally cultivate.
                  </p>
                </div>
                <div class="testimonial-name">EMILIANO AQUILANI</div>
              </div>
              <!--TESTIMONIAL 1 END-->

              <!--TESTIMONIAL 2 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="assets/images/pat2.JPEG" alt="user2">
                  <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely
                    synergize resource taxing relationships via premier niche markets. Professionally cultivate.
                  </p>
                </div>
                <div class="testimonial-name">ANNA ITURBE</div>
              </div>
              <!--TESTIMONIAL 2 END-->

              <!--TESTIMONIAL 3 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="assets/images/pat3.JPEG" alt="user3">
                  <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely
                    synergize resource taxing relationships via premier niche markets. Professionally cultivate.
                  </p>
                </div>
                <div class="testimonial-name">LARA ATKINSON</div>
              </div>
              <!--TESTIMONIAL 3 END-->

              <!--TESTIMONIAL 4 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="assets/images/doc1.JPEG" alt="user4">
                  <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely
                    synergize resource taxing relationships via premier niche markets. Professionally cultivate.
                  </p>
                </div>
                <div class="testimonial-name">IAN OWEN</div>
              </div>
              <!--TESTIMONIAL 4 END-->

              <!--TESTIMONIAL 5 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="assets/images/doc2.JPEG" alt="user4">
                  <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely
                    synergize resource taxing relationships via premier niche markets. Professionally cultivate.
                  </p>
                </div>
                <div class="testimonial-name">MICHAEL TEDDY</div>
              </div>
              <!--TESTIMONIAL 5 END-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--TESTIMONIALS END-->

    <!--Footer-->
    <%- include('partial/footer.ejs'); %>
    
    <script>
      var i = 0;
      var txt = 'WELCOME TO MEDBUDDY';
      var speed = 60;
      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("typeit").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- JavaScript -->
    <script defer src="assets/lib/js/jquery-3.4.1.min.js"></script>
    <script defer src="/assets/lib/js/popper.min.js"></script>
    <script defer src="assets/lib/js/owl.carousel.min.js"></script>
    <script defer src="assets/lib/js/bootstrap.bundle.js"></script>
    <script defer src="assets/lib/js/all.min.js"></script>
    <script defer src="assets/lib/js/select2.full.min.js"></script>
    <script defer src="assets/js/home.js"></script>
    
  </body>
</html>