<!DOCTYPE html>
<html lang="en">

  <head>
    <!--Meta Data-->
    <%- include('partial/title.ejs'); %> 

    <% if (data.NODE_ENV == 'production') { %>
      <!-- Production Stylesheets -->
      <link rel="stylesheet" href="assets/production/css/loginRegister.min.css">

    <% }else { %>
      <!-- Development Stylesheets -->
      <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css">
      <link rel="stylesheet" href="assets/lib/css/responsive.css">
      <link rel="stylesheet" href="assets/lib/css/select2.min.css">
      <link rel="stylesheet" href="assets/lib/css/spacing.css">
      <link rel="stylesheet" href="assets/lib/css/style.css">
      <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css">
      <link rel="stylesheet" href="assets/lib/css/magnific-popup.css">
      <link rel="stylesheet" href="assets/css/header.css">
      <link rel="stylesheet" href="assets/css/form1.css">

    <% } %>
  </head>

  <body onLoad="typeWriter()">
    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>
    
    <div class="contact-area pt_60 pb_90">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="contact-form headstyle user-login-tab pt_0">
              <ul class="nav nav-tabs mt_15" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#" role="tab">Patient Login</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="patientLogin" role="tabpanel">
                  <form action="/patientlogin" method="POST" accept-charset="utf-8">
                    <div class="form-row row mt_20">
                      <div class="form-group col-12">
                        <input type="email" class="form-control" placeholder="Email Address" name="username"
                          autocomplete="off" required>
                      </div>
                      <div class="form-group col-12">
                        <input type="password" class="form-control" placeholder="Password" name="password"
                          autocomplete="off" required>
                      </div>
                      <div class="form-group col-12">
                        <button type="submit" class="btn" name="form_login">Login</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    <%- include('partial/footer.ejs'); %>
    
    <script>
      var i = 0;
      var txt = 'WELCOME TO MEDBUDDY';
      var speed = 60;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("typeit").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- JavaScript -->
    <script defer src="assets/lib/js/jquery-3.4.1.min.js"></script>
    <script defer src="assets/lib/js/popper.min.js"></script>
    <script defer src="assets/lib/js/bootstrap.bundle.min.js"></script>
    <script defer src="assets/lib/js/all.min.js"></script>
    <script defer src="assets/lib/js/select2.full.min.js"></script>
    <script defer src="assets/js/about.js"></script>

  </body>
</html>