<!--Footer Start-->
<!--Call Start-->
<div class="call-us" style="background-image: url(/assets/images/background.JPEG)">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-12">
        <div class="call-text">
          <h3>Now getting an appointment in any hospital has become online & easy!?</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-12">
        <div class="button">
          <a href="/patientregistration"> Book Appointment Now <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Call End-->

<!--Address Start-->
<div class="feature-area feature-two bg-area pt_90 pb_90">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="headline">
          <h4>Address</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <div class="feature-icon">
            <br>
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
          </div>
          <div class="feature-text">
            <p>
              3153 Foley Street<br>
              Miami, FL 33176
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <div class="feature-icon">
            <br>
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
          </div>
          <div class="feature-text">
            <p>
              Sales: xxx-xxx-xxxx<br>
              Support: 963-612-1782
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <div class="feature-icon">
            <br>
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          </div>
          <div class="feature-text">
            <p>
              sales@yourwebsite.com<br>
              support@yourwebsite.com
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="aman">
            <div class="footer-item">
              <ul class="footer-social">
                <li><a href="https://www.facebook.com/profile.php?id=100039304971071"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/aman-dwivedi/"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="http://www.pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                <li><a href="http://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Address END-->

<div class="footer-bottom pt_50 pb_50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/terms">Terms and Conditions</a></li>
            <li><a href="/privacypolicy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="copy-text">
          <p>
            Copyright &copy; 2020
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer End-->

<!--Scroll-Top-->
<div class="scroll-top" onclick="topFunction()">
  <i class="fa fa-angle-up"></i>
</div>