<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="A website which connects doctors, patients and services like ambulance provide">
<meta name="keywords" content="MedBuddy, Patient, Hospital, Doctor, Ambulance, Medical Service, Appointment">
<meta name="author" content="Aman Dwivedi">
<title>MedBuddy</title>
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/Icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/Icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/Icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/Icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/Icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/Icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/Icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/Icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/Icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/Icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/Icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/Icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/Icon/favicon-16x16.png">
<link rel="manifest" href="/assets/images/Icon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/images/Icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<script data-ad-client="ca-pub-2262368880439944" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176269755-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-176269755-1');
</script>

<!-- To run web application in full-screen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Status Bar Style (see Supported Meta Tags below for available values) -->
<!-- Has no effect unless you have the previous meta tag -->
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Microsoft Tiles -->
<meta name="msapplication-config" content="assets/images/Icon/browserconfig.xml" />

<!-- FaceBook Meta Data -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://medbuddy.onrender.com/">
<meta property="og:title" content="MedBuddy">
<meta property="og:image" content="https://medbuddy.onrender.com/assets/images/icon.JPEG">
<meta property="og:description" content="A website which connects doctors, patients and services like ambulance provide">
<meta property="og:site_name" content="MedBuddy">
<meta property="og:locale" content="en_US">
<!-- Next tags are optional but recommended -->
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<!-- Twitter Meta Data -->
<meta name="twitter:card" content="A website which connects doctors, patients and services like ambulance provide">
<meta name="twitter:site" content="@site_account">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://medbuddy.onrender.com/">
<meta name="twitter:title" content="MedBuddy">
<meta name="twitter:description" content="A website which connects doctors, patients and services like ambulance provide">
<meta name="twitter:image" content="https://medbuddy.onrender.com/assets/images/icon.JPEG">

<!-- CORS Policy -->
<meta http-equiv="Content-Security-Policy" content="img-src 'self' data: *; default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7T915H29JY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7T915H29JY');
</script>